<h3 class="container mt-3 mb-3 ">Formulario de Ingreso</h3>
    <div class="container" style="max-width: 600px;">
        <form action="/" method="POST">
            NOMBRE <input class="form-control my-2" type="text" name="titulo">
            PRECIO <input class="form-control my-2" type="number" name="precio">
            URL <input class="form-control my-2" type="text" name="url">
            <button class="btn btn-primary my-2">ENVIAR</button>
        </form>
    </div>
<div class="container mt-3">
    <a href="/productos" class="btn btn-success">Ver Productos Cargados</a>
</div>