<h3 class="container mt-3 mb-3 ">Vista de Productos</h3>
<table class="table table-success table-striped">
    <thead>
        <tr>
        <th scope="col">Producto</th>
        <th scope="col">Precio</th>
        <th scope="col">Foto</th>
        </tr>
    </thead>
    <tbody>
        {{#each api}}
            <tr>
                <td scope="row">{{this.titulo}}</td>
                <td>$ {{this.precio}}</td>
                <td>
                    <img src={{this.url}} class="img-thumbnail" style="max-width: 60px ;" alt="Foto de {{this.titulo}}">
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>
<form action="/" method="GET" class="container mt-3">
    <button class="btn btn-success">Cargar Nuevo Producto</button>
</form>
